<%- layout('layouts/main', {tipoUsuario: tipoUsuario}) %>


<h1 class="mt-4">Perfil</h1>

<p class="mt-4">
    <%= user._id%>
</p>
<p class="mt-4">
    <%= tipoUsuario %>
</p>
<p class="mt-4">
    <%= user.email %>
</p>
<p class="mt-4">
    <%= user.password %>
</p>
